.header{
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: space-between;
}

.headerLeft{
    font-size: 40px;    
    color: whitesmoke;
}

.headerLeft span{
    color: rgb(170, 159, 159);
}